/* reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  margin-top: 6px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 700px;

  background-color: rgb(161, 57, 161);
}

/* main */

.middle {
  min-height: 170px;
  background-color: rgb(226, 205, 14);
}

.big {
  background-color: rgb(161, 57, 161);
  height: 100px;
}

.task {
  padding: 10px;
}

.part {
  display: inline-block;
  height: 200px;
  width: 24%;
  background-color: steelblue;
  float: left;
  margin-right: 5px;
}

.last {
  height: 20px;
}
