/* reset */

* {
  box-sizing: border-box;
  padding: 2px;
}

img {
  max-width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.debug {
  border: 1px solid red;
  border-radius: 7px;
}

/* body */
.first {
  height: 80px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  border-radius: 9px;
}

.row [class^="col-"] {
  padding: 20px;
  float: left;
  border: 2px solid brown;
}

.debug header .container {
  background-color: chocolate;
}

.debug #cont .container {
  min-height: 250px;
  background-color: goldenrod;
}

.debug #main-content .container {
  min-height: 500px;
  /* background-color: indigo; */
}

.debug .container {
  border: 2px solid green;
}

.debug .section {
  border: 2px solid;
  padding: 20px 20px;
}

.debug .row {
  border: 2px solid red;
  padding: 20px;
}

/* main */

.debug .row [class^="col-"] {
  border: 2px solid brown;
  padding: 20px;
}

.col-2 {
  width: 50%;
}

.col-1 {
  width: 25%;
}

.col-12{
        width: 100%;
    }
}